[Desktop Entry]
Version=1.0
Name=Little Metronome
GenericName=Little Metronome
Comment=A simple metronome that just works
Icon=littlemetronome
Type=Application
Categories=Application;AudioVideo;
Terminal=false
Exec=littlemetronome
Name[en_US]=Little Metronome
